/*Importing Roboto font for project */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	box-sizing: border-box;
}

.divisoria-vertical {
    width: 1px;
    background-color: #DBDBDB; 
    margin-left: 10px;
    margin-right: 10px;  
}
.divisoria-horizontal {
    width: 100%;
    height: 1px;
    background-color: #DBDBDB;   
}

.container {
    
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
}
.conteudo-cabecalho * {
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.conteudo-cabecalho{
    
    width:935px;
    display:flex;
}

.conteudo-cabecalho input{
    width: 215px;
    height: 28px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin:  13px 214px;
}
.conteudo-cabecalho .logo{
        height: 29px;
        width: 103px;    
}
.icones{
    height: 19px;
    width: 19px;
}
.icones-div{
    
    width: 148px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container-main-body {
    background-color: green;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-body{
    background-color: grey;
    width: 935px;
    display: flex;
    justify-content: center;
}
.stories{
    width: 614px;
    height: 118px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-top: 34px;
    margin-bottom: 24px; 
}
.post{

    width: 614px;
    height: 749px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.main-direita{
    background: #FFFFFF;
    width: 292px;
    height:500px;
    margin-left: 29px;
}
.stories{
    display: flex;
    padding-left: 11px;
    overflow: hidden;
}
.stories-box{
    margin-left: 7px;
    margin-right: 7px;
}
.stories-box img {
    width: 66px;
    height: 66px;
    margin-top:18px;
}
.stories-box p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.p-container {
    width: 66px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}